nav button, nav a {
    color: var(--text-primary);
    border: none;
    background: none;
    text-decoration: none;
  }
nav h3 {
  margin-right: 20px;
}
nav a:hover {
    color: var(--text-secondary);;
}