nav button, nav a {
    color: var(--text-primary);
    border: none;
    background: none;
    text-decoration: none;
  }
nav a:hover {
    color: var(--text-secondary);;
}
.header__logo {
  font-size: 26px;
  font-weight: 500;
  margin: 0 30px 5px 0;
}
.nav__icon {
  color: var(--text-primary);
  font-size: 26px;
}
.navbar-toggler {
  border: none !important;
}