nav button, nav a {
    color: var(--primary-color);
    border: none;
    background: none;
    text-decoration: none;
  }

nav a:hover {
    color: var(--secondary-color);
}

.header__logo {
  font-size: 26px;
  font-weight: 500;
  margin: 0 30px 5px 0;
}

.header__flex {
  display: flex;
  align-items: center;
}

.header__icon {
  color: var(--primary-color);
  font-size: 26px;
}

.header__toggler {
  border: none !important;
}