nav button, nav a {
    color: var(--primary-color);
    border: none;
    background: none;
    text-decoration: none;
  }

nav a:hover {
    color: var(--secondary-color);
}

.logo {
  font-size: 26px;
  font-weight: 500;
  margin: 0 30px 5px 0;
}

.icon {
  color: var(--text-primary);
  font-size: 26px;
}

.toggler {
  border: none !important;
}