.dark-theme {
  --primary-color: #FFF;
  --secondary-color: #646769;
  --primary-bg: #1C1C1C;
  --secondary-bg: #323232;
}

.light-theme {
  --primary-color: #000;
  --secondary-color: #5e5e5e;
  --primary-bg: #F4F4F4;
  --secondary-bg: #F1F1F1;
}