.item__form {
    max-width: 500px !important;
}

.item__comment {
    color: var(--primary-color) !important;
    background: var(--secondary-bg) !important;
}

.item__like {
    margin-right: 7px;
    cursor: pointer;
}

.item__counter {
    font-size: 14px;
    font-weight: 500;
}