.item__form {
    max-width: 500px !important;
}

.item__card {
    max-width: 500px !important;
}

.item__comment {
    max-width: 500px;
}

.item__like {
    margin-right: 8px;
    cursor: pointer;
}

.item__counter {
    font-size: 14px;
    font-weight: 500;
}