.item__form {
    max-width: 500px !important;
}

.item__comment {
    color: var(--primary-color) !important;
    background: var(--secondary-bg) !important;
}

.item__comment a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 4px;
}

.card-link {
    display: flex;
    align-items: center;
}

.item__like {
    margin-right: 7px;
    cursor: pointer;
}

.item__counter {
    font-size: 14px;
    font-weight: 500;
}

.like {
    display: flex;
    align-items: center;
    margin: 15px 0;
}