.home__card {
    color: var(--primary-color) !important;
    background-color: var(--secondary-bg) !important;
}

.home__items {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    height: 50px;
}